/* - - - - - - - - - - - - - - - - - - - - Universal css - - - - - - - - - - - - - - - - - - - -  */

* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #f7f7f7 !important;
    font-family: "Lucida Grande"!important;
}

.container {
    min-height: 60vh;
}

.message {
    margin: 10px 100px 0 100px;
    text-align: center;
}

.breadcrumb {
    background-color: #f7f7f7 !important;
    padding: 0 !important;
}

.message {
    margin-top: 10px;
    text-align: center;
}

.btn-right {
    float: right;
}

.white {
    color: white !important;
}

a {
    text-decoration: none !important;
}
a:hover {
    color: #0088cc !important;
}


/* - - - - - - - - - - - - - - - - - - - - Header css - - - - - - - - - - - - - - - - - - - -  */

.navbar {
    background-color: slategrey;
    height: 70px;
}
.logo-img {
    height: 70px;
    width: 150px;
    margin-left: 15px;
}
.nav-link {
    font-size: 20px;
    margin: 0 10px 0 5px;
}

.dp {
    border-radius: 50%;
}


/* - - - - - - - - - - - - - - - - - - - Footer css - - - - - - - - - - - - - - - - - - - - - -  */

.footer {
    width: 100%;
}
.mr0 {
    margin-right: 0 !important;
}

/* - - - - - - - - - - - - - - - - - - - Profile-editprofile css - - - - - - - - - - - - - - - - - - -  */

.profile-box {
    padding: 15px !important;
    margin-bottom: 40px;
}

.pdp {
    border-radius: 10%;
}

.pro-head {
    padding-bottom: 30px !important;
}



/* - - - - - - - - - - - - - - - - - - - Dashboard css - - - - - - - - - - - - - - - - - - - - - -  */

.dnavbar {
    height: 45px;
}

.sidebar-section {
    position: absolute;
    height: 100%;
    width: 100%;
  }
  
  
.sidebar-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
  
  
.make-me-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 0 15px;
}

.sidebar {
    height: 100% !important;
}

.widget {
    margin-top: 10px;
    border-radius: 10px;
}

.d-menu {
    padding-bottom: 5px;
}
