{% extends 'dashboard/base.html' %}
{% block content %}

<h2 class="text-center mb-0"><strong>Add Tutor</strong></h2>
<hr class="mt-1">
<div class="row justify-content-center">
    <div class="col-10">
        <form method="post" action="addtutor" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>   
            <div class="submit-btn">
                    <input type="submit" name="submit" class="btn-right btn btn-info btn-md mb-5" value="Submit">
            </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}