{%load static%}
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard</title>
    <link rel="shortcut icon" type="image/jpg" href="{% static 'assets/dashboard.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
</head>

<body>
    <nav class="navbar position-fixed dnavbar navbar-expand-lg bg-secondary">
        <h2 class="white mb-0 px-2">Dashboard</h2>
        <div class="collapse navbar-collapse nav justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class='nav-item'>
                    <i class="bi bi-bell nav-link widget white bg-dark" title="Notifications"></i>
                </li>
                <li>
                    <i class="bi bi-person-circle nav-link widget white bg-dark" title="Tutors"></i>
                </li>
                <li>
                    {% if user.is_authenticated %}
                    <a class="btn btn-info p-1 m-2" href="/dashboard/logout">Logout</a></li> 
                    {% endif %}
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-2 bg-dark d-area pt-5 sidebar">
                <div class="pt-2 position-fixed">
                    <ul class="nav flex-column">
                        <li class="nav-item d-menu">
                            <a class="white" href="/dashboard">
                                <i class="bi bi-speedometer2"></i>
                                Dashboard
                            </a>
                        </li>
                        <li class="nav-item d-menu">
                            <a class="white" href="/dashboard/addteacher">
                                <i class="bi bi-person-plus"></i>
                                Add Teacher
                            </a>
                        </li>
                        <li class="nav-item d-menu">
                            <a class="white" href="#">
                                <i class="bi bi-upload"></i>
                                Upload Data
                            </a>
                        </li>
                        <li class="nav-item d-menu">
                            <a class="white" href="#">
                                <i class="bi bi-list-check"></i>
                                Tutor List
                            </a>
                        </li>
                        <li class="nav-item d-menu">
                            <a class="white" href="#">
                                <i class="bi bi-journal-arrow-down"></i>
                                Result
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-10 d-area pt-5">
                <div class="pt-1"></div>
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

    <footer class="bg-secondary text-white text-center">
        <div">
            © 2021 Copyright:
            <a class="text-white" href="/">tutor.com</a>
            </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
</body>

</html>